S
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px 50px 150px;
  font-size: 40px;
  text-align: center;
  background: #F09819;
  background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D);
  background: linear-gradient(to left, #F09819 , #EDDE5D);
}
ul {
  text-align: left;
  display: center;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  
}
ul li {
  font: bold 50px/20px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: rgb(45, 127, 138);
  cursor: pointer;
  transition: all 0.2s;
}
ul li:hover {
  background:  #00542b;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 rgb(13, 116, 110);
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
